mixin notifyItem(link, image, name, desc)
  li.header-nav-notify-list-item
    a.header-nav-notify-list-item-link(href= link)
      .header-nav-notify-list-item-content
        .header-nav-notify-list-item-content-img
          img(src= image, alt='')
        .header-nav-notify-list-item-content-text
          p.header-nav-notify-list-item-content-text-name= name
          p.header-nav-notify-list-item-content-text-desc= desc

mixin searchRecommendItem(name)
  li.header-main-search-recommend-item
    a.header-main-search-recommend-item-link(href='#')= name

mixin shoppingcartItem(link, image, name, price)
  li.header-main-shoppingcart-list-item
    a.header-main-shoppingcart-list-item-link(href= link)
      .header-main-shoppingcart-list-item-content
        .header-main-shoppingcart-list-item-content-img
          img(src= image, alt='')
        .header-main-shoppingcart-list-item-content-text
          .header-main-shoppingcart-list-item-content-text-name= name
          .header-main-shoppingcart-list-item-content-text-price= price