mixin notifyItem(link, image, name, desc, more1, more2, more3)
  li.header-nav-notify-list-item
    a.header-nav-notify-list-item-link(href= link)
      .header-nav-notify-list-item-content
        .header-nav-notify-list-item-content-img
          img(src= image, alt='')
        .header-nav-notify-list-item-content-text
          p.header-nav-notify-list-item-content-text-name= name
          p.header-nav-notify-list-item-content-text-desc= desc
          p.header-nav-notify-list-item-content-text-more
            img.header-nav-notify-list-item-content-text-more-img(src= more1, alt='')
            img.header-nav-notify-list-item-content-text-more-img(src= more2, alt='')
            img.header-nav-notify-list-item-content-text-more-img(src= more3, alt='')

mixin searchRecommendItem(name)
  li.header-main-search-recommend-item
    a.header-main-search-recommend-item-link(href='#')= name

mixin shoppingcartItem(link, image, name, price)
  li.header-main-shoppingcart-list-item
    a.header-main-shoppingcart-list-item-link(href= link)
      .header-main-shoppingcart-list-item-content
        img.header-main-shoppingcart-list-item-content-img(src= image, alt='')
        .header-main-shoppingcart-list-item-content-text
          .header-main-shoppingcart-list-item-content-text-name= name
          .header-main-shoppingcart-list-item-content-text-price= price

mixin bannerSlideShowItem(link, image)
  a(href=link)
    img.banner-main-left-img(src= image, alt='')

mixin bannerListItem(link, image, name)
  .banner-list-item
    a.banner-list-item-link(href= link)
      img.banner-list-item-img(src= image, alt='')
      p.banner-list-item-name= name

mixin categoryItem(link, image, name)
  a.category-item-link(href= link)
    .category-list-item
      img.category-item-img(src= image, alt='')
      p.category-item-name= name